<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect old series page" stopProcessing="true">
                    <match url="*/p/series.html" />
                    <action type="Redirect" url="http://blog.shaunfinglas.co.uk/pages/series.html" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>